.logos-slider-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 50px 0;

    backface-visibility: hidden;
}


.logos-slider-container::before,
.logos-slider-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.logos-slider-container::before {
    left: 0;
    background: linear-gradient(to right, var(--bg-color), transparent);
}

.logos-slider-container::after {
    right: 0;
    background: linear-gradient(to left, var(--bg-color), transparent);
}

.slider-track-container {
    display: flex;
    /* overflow: hidden; */
    width: 100%;
}

.slider-track {
    display: flex;
    width: max-content;
    animation: scroll 30s linear infinite;
    padding: 20px 0;

}

.tech-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 30px;
    min-width: 80px;
    transition: transform 0.3s ease;
}

.tech-slide:hover {
    transform: scale(1.2);
}

.tech-icon {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.1));
}

.tech-name {
    font-size: 0.8rem;
    color: var(--text-color);
    font-family: var(--font-body);
    opacity: 0.7;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}